{% extends 'base.html' %}

{% block content %}
<main>
    <header>
        <div>
            <h1>Expenses</h1>
            <a href="{% url 'create_account' %}">Create new account</a>
            <table>
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Account Number</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{account.name}}</td>
                        <td>{{account.number}}</td>
                        <td>{{account.receipts.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </header>
</main>
{% endblock content %}
