{% extends 'base.html' %}

{% block content %}
<main>
    <header>
        <div>
            <h1>Expenses</h1>
            <a href="{% url 'create_cat' %}">Create new category</a>
            <table>
                <thead>
                    <tr>
                        <th>Expense</th>
                        <th>Number of Receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expense_categories %}
                    <tr>
                        <td>{{expense.name}}</td>
                        <td>{{expense.receipts.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </header>
</main>
{% endblock content %}
